:root {
  --font-family: Inter, system-ui, sans-serif;
}

/* Basic page style resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
[hidden] {
  display: none !important;
}

body {
  background-color: black;
}
.notes {
  scroll-behavior: smooth;
}
[aria-expanded="true"] {
  display: block;
}
[aria-expanded="false"] {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 80vh;
}
.wallpaper {
  inset: 0;
  z-index: -1;
  position: fixed;
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}
.quote,
.clock {
  width: min(800px, 90%);
  margin: 0 auto;
  color: white;
  text-align: center;
}
.quote small {
  display: block;
  margin-block: 1rem;
}
/* notes */

div[contenteditable] {
  position: relative;
  cursor: pointer;
}
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}
input[type="checkbox"] {
  transform: scale(1.5);
}

input:checked ~ div[contenteditable] {
  color: #959595;
  text-decoration: line-through;
}
